<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menú">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Papitas</span>
  <section>
    <div class="example-button-row">
      <button mat-raised-button routerLink="/home">Home</button>
      <button mat-raised-button routerLink="/productos">Productos</button>
      <button mat-raised-button routerLink="/usuarios">Usuarios</button>
      <button mat-raised-button routerLink="/empleados">Empleados</button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Favoritos">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Compartir">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
